<script src="https://cdn.opencpu.org/opencpu-0.5.js"></script>
{CALLR_DESC}
<textarea id="input" rows="4" cols="50">
library(ltm)
descript(data)
</textarea> 
<div class="navbar-form">
	<button class="btn btn-default" id="submitbutton" type="button">{CALLR}</button>
</div>
<style type="text/css" media="screen">
iframe { 
  width: 100%;
  border: 0;
  margin: 0;
}
</style>
<script>
ocpu.seturl("{SERVER}/ocpu/library/base/R");

//actual handler
$("#submitbutton").on("click", function(){
	
	//arguments for R
	var part1 = 'library(jsonlite); data <- fromJSON(txt=';
	var part2 =	'{JSON}';
	var part3 =	');';
	var data = part1 + '\'' + part2.replace(/\"/g, "") + '\'' +part3;
	var convertDF = 'colnames(data) = data[1, ]; data = data[-1, ]; rownames(data) <- data[,1]; data <- data[,-1];'; 
	
	var presetCode = data + convertDF;
		presetCode += "library(knitr); writeLines('```{r block1}\n";
	    presetCode += $("#input").val().replaceAll("'",'"');
	    presetCode += "\n```', con='input.Rmd'); knit2html('input.Rmd', output='output.html');";
	
	var snippet = new ocpu.Snippet(presetCode);

    //disable button
    $("#submitbutton").attr("disabled", "disabled");

    //perform the request
    var req = ocpu.call("identity", {
        "x" : snippet
    }, function(session){
        $("iframe").attr("src", session.getFileURL("output.html"));
        $("iframe").height(800);
	}).fail(function(text){
      alert("Error: " + req.responseText);
    });
        
    //if R returns an error, alert the error message
    req.fail(function(){
        alert("Server error: " + req.responseText);
    });      
    
    req.always(function(){
        $("button").removeAttr("disabled");    
    });
});  
</script>
<iframe src="about:blank"></iframe>